# App
DEBUG=true

# Database
DATABASE_URL=postgresql://user:password@db:5432/dbname
POSTGRES_DB=dbname
POSTGRES_USER=user
POSTGRES_PASSWORD=yourpassword

# Redis
REDIS_URL=redis://redis:6379

# AWS Cognito
AWS_REGION=us-east-1
COGNITO_USER_POOL_ID=your_user_pool_id_here
COGNITO_CLIENT_ID=your_cognito_client_id_here
COGNITO_CLIENT_SECRET=your_cognito_client_secret_here

# CORS
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173